legend{
	 color: white;
	 text-shadow: 3px 3px 3px	green;
	 font-size:14px;
     font-family:arial;
}
td:first-child{
  color:	#A569BD;
  font-size:15px;
  font-family:arial;
}
input{
	background:white;
    border-color:white;
	border-radius:20px;
	
}
td:last-child{
  color:red;
  font-family:arial;
}
input:hover{
  background:white;
}
input:focus{
  background:white;
   color:black;
}
.classe:hover{
     height:50px;
	 width:80px;
	 border:dashed 2px red;
	 background:beige;
}